/* style.css */
h1 {
    color: #fff !important;
}

h2 {
    color: #dbdbdb !important;
}

h3 {
    color: #a1a1a1 !important;
}

body {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
    font-family: sans-serif;
    padding: 20px;
}

a {
    color: cyan !important;
}

pre, code {
    background-color: #1e1e1e !important;
    color: #e0e0e0 !important;
    padding: 5px 10px;
    border-radius: 5px;
}


/* General Styles for Tables */
table {
    width: 100% !important;
    max-width: 100% !important;
    border-collapse: collapse;
}

/* Table Header */
th {
    white-space: normal !important;
    background-color: #333;
    color: #e0e0e0;
    padding: 12px;
    text-align: left;
}

/* Table Data */
td {
    white-space: normal !important;
    background-color: #222;
    color: #e0e0e0;
    padding: 10px;
    border: 1px solid #444;
}

/* Table Hover Effect */
tr:hover {
    background-color: #444;
}

/* Table borders for a cleaner look 
table, th, td {
    border: 1px solid #555;
}
*/
/* Alternate Row Colors */
tr:nth-child(even) {
    background-color: #2c2c2c;
}

/* Make sure the text in table cells is aligned well */
td, th {
    text-align: left;
}







/* Opcional: respetar el modo claro si quieres */
/* 
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff !important;
        color: #000 !important;
    }
    pre, code {
        background-color: #f5f5f5 !important;
        color: #000 !important;
    }
}
*/
